<ion-view view-title="{{navTitle}}">
    <ion-content class="padding">
        <h3 class="text-center padding-top">Application Disclaimer</h3>
        <p class="padding text-center">
            This calculator is intended to find the approximate length for new belts only. Do not use for used belts, as they are permanently stretched. Applications must be evaluated by an engineer for safety and design criteria, prior to implementation. By using this calculator, you are to hold all parties associated with this calculator harmless.
        </p>
    </ion-content>
</ion-view>
