<ion-view view-title="{{navTitle}}" class="blue" ng-controller="SettingsCtrl">
    <ion-nav-buttons side="secondary">
        <button class="button icon ion-checkmark" ng-click="saveSetting()">
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h5 class="text-center padding-top">Choose the default view when computing</h5>
        <ion-list>
            <ion-radio ng-repeat="item in clientSideList" ng-value="item.value" ng-model="data.clientSide" ng-change="serverSideChange(item)">{{ item.text }}</ion-radio>
        </ion-list>
    </ion-content>
</ion-view>
