<ion-view view-title="Two Pulley" class="blue">
    <ion-content>
        <h5 class="text-center">Follow the steps to calculate the correct belt legth for two pulleys.</h5>
        <div class="item cream">
            <h3 class="text-center orange">STEP ONE</h3>
            <h5 class="text-center">Adjust belt tensioner to center of travel.</h5>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-royal">
        <div class="buttons">
            <button class="button button-energized footer-btn">Previous</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-energized footer-btn">Next</button>
        </div>
    </ion-footer-bar>
</ion-view>
