<ion-view view-title="{{navTitle}}" class="blue">
    <ion-nav-buttons side="secondary">
        <button class="button" ui-sref="settings">
            <i class="icon ion-gear-a"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4 class="text-center">Choose the number of pulleys</h4>
        <div class="padding text-center">
            <a ui-sref="twopulleys-02" class="button button-large intro-btn">
                <img src="img/intro-2.png" width="100%">
                <p><b>TWO PULLEYS</b></p>
            </a>
            <a ui-sref="threepulleys-02" class="button button-large intro-btn">
                <img src="img/intro-3.png" width="100%">
                <p><b>THREE PULLEYS</b></p>
            </a>
        </div>
    </ion-content>
</ion-view>
