<ion-view view-title="{{navTitle}}" class="blue">
    <ion-content>
        <div class="item cream">
            <h3 class="text-center orange">STEP TWO</h3>
            <h4 class="text-center">Measure the distance between pulley B and pulley C (center to center)</h4>
            <br>
        </div>
        <div class="list">
            <div class="item padding item-image">
                <img src="img/3p-03.png">
            </div>
            <div class="item item-divider cream text-center">
                <small>Distance Between Pulley B and Pulley C</small>
            </div>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">
                    <input type="number" placeholder="Distance Between Pulley B and Pulley C" ng-model="pulleyCenter2" ng-change="pulleyCenterChange2(pulleyCenter2)">
                    <span class="item-note" ng-show="measuringUnits=='standard'">
                      Inches
                    </span>
                    <span class="item-note" ng-show="measuringUnits=='metric'">
                      Metric
                    </span>
                </label>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-royal">
        <div class="buttons">
            <button class="button button-energized footer-btn" ng-click="prevPage()">Previous</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-energized footer-btn" ng-click="nextPage()">{{nextTitle}}</button>
        </div>
    </ion-footer-bar>
</ion-view>
