<ion-view view-title="{{navTitle}}" class="blue">
    <ion-content class="padding-top has-tabs">
        <h5 class="padding text-center">Follow the steps to calculate the correct belt length for three pulleys.</h5>
        <div class="item cream">
            <h2 class="text-center orange">STEP TWO</h2>
            <h4 class="text-center">Measure the distance between pulley A and pulley B (center to center)</h4>
            <br>
        </div>
        <div class="list">
            <div class="item padding item-image">
                <img src="img/3p-02.png">
            </div>
            <div class="item item-divider cream text-center">
                <small>Distance Between Pulley A and Pulley B</small>
            </div>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">
                    <input type="number" placeholder="Distance Between Pulley A and Pulley B" ng-model="pulleyCenter1" ng-change="pulleyCenterChange1(pulleyCenter1)">
                </label>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-royal">
        <div class="buttons">
            <button class="button button-energized footer-btn" ng-click="prevPage()">Previous</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-energized footer-btn" ng-click="nextPage()">{{nextTitle}}</button>
        </div>
    </ion-footer-bar>
</ion-view>
