<ion-view view-title="{{navTitle}}" class="cream">
    <ion-content>
        <div class="item cream">
            <h2 class="text-center orange">STEP EIGHT</h2>
            <h2 class="text-center orange">(Calculated Size)</h2>
            <h4 class="text-center text-wrap">Check the values and adjust if necessary. Calculate to obtain approximate belt length</h4>
        </div>
        <div class="list">
            <div class="item padding item-image">
                <img src="img/3p-08.png">
            </div>
            <div class="item item-divider cream text-center">
                <small>Distance Between Pulley A and Pulley B</small>
            </div>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">
                    <input type="text" ng-model="pulleyCenter1" ng-change="pulleyCenterChange1(pulleyCenter1)">
                    <span class="item-note" ng-show="measuringUnits=='standard'">
                      in.
                    </span>
                    <span class="item-note" ng-show="measuringUnits=='metric'">
                      cm
                    </span>
                </label>
            </div>
            <div class="item item-divider cream text-center">
                <small>Distance Between Pulley B and Pulley</small>
            </div>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">
                    <input type="text" ng-model="pulleyCenter2" ng-change="pulleyCenterChange2(pulleyCenter2)">
                    <span class="item-note" ng-show="measuringUnits=='standard'">
                      in.
                    </span>
                    <span class="item-note" ng-show="measuringUnits=='metric'">
                      cm
                    </span>
                </label>
            </div>
            <div class="item item-divider cream text-center">
                <small>Distance Between Pulley C and Pulley A</small>
            </div>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">
                    <input type="text" ng-model="pulleyCenter3" ng-change="pulleyCenterChange3(pulleyCenter3)">
                    <span class="item-note" ng-show="measuringUnits=='standard'">
                      in.
                    </span>
                    <span class="item-note" ng-show="measuringUnits=='metric'">
                      cm
                    </span>
                </label>
            </div>
            <div class="item item-divider cream text-center">
                <small>Pulley A's outside diameter</small>
            </div>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">
                     <input type="text" ng-model="largeDiameter" ng-change="largeDiameterChange(largeDiameter)"> 
                     <span class="item-note" ng-show="measuringUnits=='standard'">
                      in.
                    </span>
                    <span class="item-note" ng-show="measuringUnits=='metric'">
                      cm
                    </span>
                </label>
            </div>
            <div class="item item-divider cream text-center">
                <small>Pulley B's outside diameter</small>
            </div>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">
                    <input type="text" ng-model="mediumDiameter" ng-change="mediumDiameterChange(mediumDiameter)">
                    <span class="item-note" ng-show="measuringUnits=='standard'">
                      in.
                    </span>
                    <span class="item-note" ng-show="measuringUnits=='metric'">
                      cm
                    </span>
                </label>
            </div>
            <div class="item item-divider cream text-center">
                <small>Pulley C's outside diameter</small>
            </div>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">
                     <input type="text" ng-model="smallDiameter" ng-change="smallDiameterChange(smallDiameter)">
                     <span class="item-note" ng-show="measuringUnits=='standard'">
                      in.
                    </span>
                    <span class="item-note" ng-show="measuringUnits=='metric'">
                      cm
                    </span>
                </label>
            </div>
            <div class="item item-divider cream text-center">
                <small>Belt Length</small>
            </div>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">
                    <b class="total-labels" ng-bind="beltLength"></b>
                    <span class="item-note" ng-show="measuringUnits=='standard'">
                      in.
                    </span>
                    <span class="item-note" ng-show="measuringUnits=='metric'">
                      cm
                    </span>
                </label>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-royal">
        <div class="buttons">
            <button class="button button-energized footer-btn" ng-click="prevPage()">Previous</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-energized footer-btn" ng-click="nextPage()">{{nextTitle}}</button>
        </div>
    </ion-footer-bar>
</ion-view>
