<ion-view view-title="{{navTitle}}" class="blue">
    <ion-content class="padding-top">
        <h5 class="text-center">Follow the steps to calculate the correct belt legth for three pulleys.</h5>
        <div class="item cream">
            <h3 class="text-center orange">STEP TWO</h3>
            <h4 class="text-center">Measure the distance between pulley A and pulley B (center to center)</h4>
        </div>
        <div class="list">
            <div class="item padding item-image">
                <img src="img/3p-02.png">
            </div>
            <label class="item padding-top item-input">
                <input type="text" placeholder="Distance Between Pulley A and Pulley B">
            </label>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-royal">
        <div class="buttons">
            <button class="button button-energized footer-btn" ng-click="prevPage()">Previous</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-energized footer-btn" ng-click="nextPage()">Next</button>
        </div>
    </ion-footer-bar>
</ion-view>
