<ion-view view-title="{{navTitle}}" class="blue">
    <ion-content>
        <div class="item cream">
            <h2 class="text-center orange">STEP FIVE</h2>
            <h4 class="text-center">Measure pulley B's outside diameter.</h4>
        </div>
        <div class="list">
            <div class="item padding item-image">
                <img src="img/3p-06.png">
            </div>
            <div class="item item-divider cream text-center">
                <small>Pully B's Outside Diameter</small>
            </div>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">
                    <input type="number" placeholder="Pulley B's outside diameter" ng-model="mediumDiameter" ng-change="mediumDiameterChange(mediumDiameter)">
                    <span class="item-note" ng-show="measuringUnits=='standard'">
                      Inches
                    </span>
                    <span class="item-note" ng-show="measuringUnits=='metric'">
                      Metric
                    </span>
                </label>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-royal">
        <div class="buttons">
            <button class="button button-energized footer-btn" ng-click="prevPage()">Previous</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-energized footer-btn" ng-click="nextPage()">{{nextTitle}}</button>
        </div>
    </ion-footer-bar>
</ion-view>
