<ion-view view-title="{{navTitle}}" class="blue">
    <ion-content class="padding-top">
        <h5 class="padding text-center">Follow the steps to calculate the correct belt length for two pulleys.</h5>
        <div class="item cream">
            <h2 class="text-center orange">STEP THREE</h2>
            <h4 class="text-center">Measure pulley B's outside diameter</h4>
        </div>
        <div class="list">
            <div class="item padding item-image">
                <img src="img/2p-04.png">
            </div>
            <div class="item item-divider cream text-center">
                <small>B's Outside Diameter</small>
            </div>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">
                    <input type="number" placeholder="B's Outside Diameter" ng-model="smallDiameter" ng-change="smallDiameterChange(smallDiameter)">
                </label>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-royal hide-on-keyboard-open">
        <div class="buttons">
            <button class="button button-energized footer-btn" ng-click="prevPage()">Previous</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-energized footer-btn" ng-click="nextPage()">{{nextTitle}}</button>
        </div>
    </ion-footer-bar>
</ion-view>
