<ion-view view-title="{{navTitle}}" class="cream">
    <ion-content>
        <div class="item cream">
            <h2 class="text-center orange">STEP FOUR</h2>
            <h2 class="text-center orange">(Calculated Size)</h2>
            <h4 class="text-center text-wrap">Check the values and adjust if necessary. Calculate to obtain approximate belt length</h4>
        </div>
        <div class="list">
            <div class="item padding item-image">
                <img src="img/2p-05.png">
            </div>
            <div class="item item-divider cream text-center">
                <small>Distance Between Pulleys</small>
            </div>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">
                    <!-- <b class="result-labels" ng-bind="pulleyCenter"></b> -->
                    <input type="text" ng-model="pulleyCenter" ng-change="pulleyCenterChange(pulleyCenter)">
                    <span class="item-note" ng-show="measuringUnits=='standard'">
                      Inches
                    </span>
                    <span class="item-note" ng-show="measuringUnits=='metric'">
                      Metric
                    </span>
                </label>
            </div>
            <div class="item item-divider cream text-center">
                <small>A's Outside Diameter</small>
            </div>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">
                    <!-- <b class="result-labels" ng-bind="largeDiameter"></b> -->
                    <input type="text" ng-model="largeDiameter" ng-change="largeDiameterChange(largeDiameter)">
                    <span class="item-note" ng-show="measuringUnits=='standard'">
                      Inches
                    </span>
                    <span class="item-note" ng-show="measuringUnits=='metric'">
                      Metric
                    </span>
                </label>
            </div>
            <div class="item item-divider cream text-center">
                <small>B's Outside Diameter</small>
            </div>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">
                    <!-- <b class="result-labels" ng-bind="smallDiameter"></b> -->
                    <input type="text" ng-model="smallDiameter" ng-change="smallDiameterChange(smallDiameter)">
                    <span class="item-note" ng-show="measuringUnits=='standard'">
                      Inches
                    </span>
                    <span class="item-note" ng-show="measuringUnits=='metric'">
                      Metric
                    </span>
                </label>
            </div>
            <div class="item item-divider cream text-center">
                <small>Belt Length</small>
            </div>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">
                    <b class="total-labels" ng-bind="beltLength"></b>
                    <span class="item-note" ng-show="measuringUnits=='standard'">
                      Inches
                    </span>
                    <span class="item-note" ng-show="measuringUnits=='metric'">
                      Metric
                    </span>
                </label>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-royal hide-on-keyboard-open">
        <div class="buttons">
            <button class="button button-energized footer-btn" ng-click="prevPage()">Previous</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-energized footer-btn" ng-click="nextPage()">{{nextTitle}}</button>
        </div>
    </ion-footer-bar>
</ion-view>
