<ion-view view-title="{{navTitle}}" class="cream">
    <ion-content scroll="false">
        <div class="item cream">
            <h2 class="text-center orange">STEP TWO</h2>
            <h4 class="text-center">Measure center-to-center distance between pulley shafts</h4>
        </div>
        <div class="list" style="height: 100% !important;">
            <div class="item padding item-image" style="height: 100% !important;">
                <img src="img/2p-02.png">
            </div>
        </div>
    </ion-content>
    <div class="tabs has-footer" style="height:auto; bottom:44px;padding-top:0px;">
        <div class="row" style="padding:0px;">
            <div class="col" style="padding:0px;">
                <div class="list">
                    <div class="item item-divider cream text-center">
                        <small>Distance Between Pulleys</small>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item item-input-wrapper">
                            <input type="number" placeholder="Distance Between Pulleys" ng-model="pulleyCenter" ng-change="pulleyCenterChange(pulleyCenter)">
                            <span class="item-note" ng-show="measuringUnits=='standard'">
                              in.
                            </span>
                            <span class="item-note" ng-show="measuringUnits=='metric'">
                              cm
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ion-footer-bar class="bar-royal">
        <div class="buttons">
            <button class="button button-energized footer-btn" ng-click="prevPage()">Previous</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-energized footer-btn" ng-click="nextPage()">{{nextTitle}}</button>
        </div>
    </ion-footer-bar>
</ion-view>
